.ropeproject
.idea
*.py[cod]
.coverage

# Lockfiles
*.lock

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
htmlcov
.vscode
venv
lib/*
_examples/*
docs/*
.venv
*__pycache__*
