language: python

cache:
  directories:
  - $HOME/nats-server

python:
  - "3.7"

before_install:
  - bash ./script/install_nats.sh

before_script:
  - export PATH=$HOME/nats-server:$PATH

install:
  - pip install -e .[nkeys]

script:
  - make ci
  
notifications:
  email: false

sudo: true
dist: xenial

jobs:
  allow_failures:
    python:
      - "3.6"
      - "3.8"
