name: check
on:
    push:
        branches:
            - "*"
    pull_request:
        branches:
            - "*"
jobs:
    format:
        runs-on: ubuntu-latest
        name: format
        steps:
            - name: Check out repository
              uses: actions/checkout@v5

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.8"

            - name: Install uv
              uses: astral-sh/setup-uv@v6

            - name: Install the project
              run: uv sync --dev

            - name: Run format check
              run: uv run ruff format --check

    lint:
        runs-on: ubuntu-latest
        name: lint
        steps:
            - name: Check out repository
              uses: actions/checkout@v5

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.8"

            - name: Install uv
              uses: astral-sh/setup-uv@v6

            - name: Install the project
              run: uv sync --dev

            - name: Run lint check
              run: uv run ruff check

    spell:
        runs-on: ubuntu-latest
        name: spell
        steps:
            - name: Check out repository
              uses: actions/checkout@v5

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.8"

            - name: Install uv
              uses: astral-sh/setup-uv@v6

            - name: Install the project
              run: uv sync --dev

            - name: Run spell check
              run: uv run codespell

    type:
        runs-on: ubuntu-latest
        name: type
        steps:
            - name: Check out repository
              uses: actions/checkout@v5

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.8"

            - name: Install uv
              uses: astral-sh/setup-uv@v6

            - name: Install the project
              run: uv sync --dev

            - name: Run type check
              run: uv run ty check nats-server
