name: Check
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:
  format:
    runs-on: ubuntu-latest
    name: Format
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --dev

      - name: Run format check
        run: |
          pipenv run yapf --diff --recursive .

      - name: Run isort check
        run: pipenv run isort --check-only --diff .
